#mixme_btn{
    margin-bottom: 50px;
}

.tableCell{
    height: 60px;
}

#mixTable td{
    text-align: center; 
    vertical-align: middle;
}

#mixTable th{
    text-align: center; 
    vertical-align: middle;
}